* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Source-Sans-Pro';
    src: url('../fonts/SourceSansPro-Regular.ttf');
}

main {
    font-family: 'Source-Sans-Pro';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .main__title {
        text-align: center;
    }
    .main__fields {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        box-sizing: border-box;

        .fields__actions {
            border: 1px solid #000;
            width: 33%;
            height: 850px;
            max-height: 850px;
            overflow: auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            .actions__make-underline {
                display: inline-block;
                outline: none;
                margin: 10px 0 10px 180px;
            }

            .actions__container {
                margin-top: 20px;
                display: flex;
                align-items: center;
                flex-direction: column;


                .actions__input {
                    width: 317px;
                    margin: 10px;
                    font-size: 1.2em;
                    text-align: center;
                    padding: 10px;
                    box-sizing: border-box;
                }
                #h1 {
                    width: 550px;
                    height: 70px;
                }
                #h2 {
                    width: 510px;
                    height: 60px;
                }
                #h3 {
                    width: 470px;
                    height: 50px;
                }
                #h4 {
                    width: 430px;
                    height: 40px;
                }
                #h5 {
                    width: 400px;
                    height: 30px;
                }
                #h6 {
                    width: 370px;
                    height: 20px;
                }
                #p {
                    width: 550px;
                    height: 120px;
                    resize: none;
                    margin: 10px;
                }

                .actions__textarea {
                    resize: none;
                }
            }
            .actions__create-link-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border: 1px solid #000;
                width: 550px;
                margin: 30px auto;
                padding: 10px;
                box-sizing: border-box;

                .create-link-container__input {
                    width: 80%;
                    padding:  10px 15px;
                    height: 50px;
                    text-align: center;
                    margin: 15px;
                }

                .create-link-container__btn {
                    display: block;
                    outline: none;
                    margin: 5px;
                }
            }
            .actions__make-btn {
                display: block;
                outline: none;
                margin: 5px;
                width: 150px;
                padding: 12.5px 0;
                align-self: center;
            }
        }
        .fields__preview {
            border: 1px solid #000;
            width: 33%;
            height: 850px;
            max-height: 850px;
            overflow: auto;

            .preview__text {
                min-width: 0;
                max-width: 595.625px;
                word-wrap: break-word;
                word-break: keep-all;
            }

            .preview__link {
                margin: 5px 0;
            }
        }
        .fields__result {
            display: flex;
            flex-direction: column;
            border: 1px solid #000;
            width: 33%;
            height: 850px;
            max-height: 850px;
            overflow: auto;

            .result__text {
                margin: 5px 0;
                min-width: 0;
                max-width: 595.625px;
                word-wrap: break-word;
                word-break: keep-all;
            }

            .result__link {
                margin: 5px 0;
            }
        }

    }
}
